<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-emblem">
                <img src="assets/logos/emblema-ue.jpg" alt="European Union Emblem">
            </div>
            <div class="footer-logo">
                <img src="assets/logos/logo-agencia.jpg" alt="Logo del Ministerio de Ciencia e Innovación y de la Agencia Estatal de Investigación">
            </div>
        </div>
        <div class="project-reference">
            Project PID2022-139298OB-C21 funded by MCIN /AEI /10.13039/501100011033 / FEDER, UE
        </div>
    </div>
</footer>
