---
---
@charset "utf-8";

body {
    text-align: justify;
}
// Your custom css /scss here
/* Estilos para el footer */
footer {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
}

footer .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #007BFF;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo, .footer-emblem {
    display: flex;
    align-items: center;
}

.footer-logo img, .footer-emblem img {
    width: 100%; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px;
}

.project-reference {
    text-align: center;
    margin-top: 10px;
}

