---
---
@charset "utf-8";

body {
    text-align: justify;
}
// Your custom css /scss here
/* Estilos para el footer */
footer {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
}

footer .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #007BFF;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo, .footer-emblem {
    display: flex;
    align-items: center;
}

.footer-logo img, .footer-emblem img {
    width: 100%; /* Ajusta el tamaño según tus necesidades */
    margin-right: 10px;
}

.project-reference {
    text-align: center;
    margin-top: 10px;
}

.card-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las tarjetas */
  }
  
  .card {
    width: 33%; /* Ancho de cada tarjeta */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h2 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
  }